.slide__form-two {
    padding: 10% 0;
    background: url('../images/dist/back-graund-form-two.png') 0 0/100% 100% no-repeat;

    h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
    }

    p {
        line-height: 37px;
    }
}

.form-two__wrapper {
    display: flex;
}

.form-two__container {
    margin-left: 8%;
    width: 43%;
}

.form-two__content {
    width: 36%;
    font-size: 20px;
    line-height: 24px;
    color: #fcda20;

    p {
        line-height: 24px;
    }
}

.form-two__elem {
    margin-top: 3%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 6%;

    li {
        list-style-type: disc;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }

    li::marker {
        color: $accent;
    }

}

@media (max-width: 320px) {
    .slide__form-two {
        background: none;

        h2 {
            color: $textcolor;
            font-size: 33px;
        }
    }

    .form-two__wrapper {
        margin: 6% 0;
        flex-direction: column;
    }

    .form-two__container {
        display: none;
    }

    .form-two__content {
        margin: 0 auto;
        width: 85%;

        p {
            text-align: center;
        }
    }

    .form-two__elem {
        li {
            margin: 2% 0;
            color: $textcolor;
        }

    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .slide__form-two {
        background: none;

        h2 {
            margin: 0 auto;
            text-align: center;
            width: 90%;
            color: $textcolor;
            font-size: 23px;
        }
    }

    .form-two__content {
        width: 100%;

        p {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
    }

    .form-two__elem {
        padding: 5% 0;
        margin: 0 auto;
        width: 80%;
        height: initial;

        li {
            color: black;
        }
    }

    .form-two__container {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .slide__form-two {
        h2 {
            color: white;
            font-size: 23px;
        }
    }

    .form-two__content {
        width: 100%;

        p {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
    }

    .form-two__elem {
        padding: 5% 0;
        margin: 0 auto;
        width: 80%;
        height: initial;

        li {
            color: white;
        }
    }

    .form-two__container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .slide__form-two {
        h2 {
            font-size: 25px;
        }
    }

    .form-two__container {
        .left__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 88%;
            }

            input:nth-child(2) {
                margin-top: 4.5%;
                margin-left: 0;
            }
        }
    }

    .form__radion {
        margin-top: 6%;

        .radion {
            .radio__lable::before {
                left: 6%;
            }

            .radio__lable::after {
                left: 7.2%;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .slide__form-two {
        h2 {
            font-size: 25px;
        }
    }

    .form-two__container {
        .left__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 88%;
            }

            input:nth-child(2) {
                margin-top: 4.5%;
                margin-left: 0;
            }
        }
    }

    .form__radion {
        margin-top: 6%;

        .radion {
            .radio__lable::before {
                top: 4%;
                left: 10%;
            }

            .radio__lable::after {
                top: 10%;
                left: 11%;
            }
        }
    }
}